@use "../../styles/variables" as *;

.zoomcard {
  margin-left: auto;
  width: 60vw;
  text-align: center;
  height: 100vh;
  margin: 2%;
  background-color: $color-2;
  border-radius: 20%;
  position: absolute;
  justify-content: center;

  &__image {
    width: 10vw;
    max-height: 25vw;
    min-height: 25vw;
  }

  &__h2 {
    font-size: 100%;
  }
}
