@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@700&display=swap");

$primary-font: "Alexandria", "sans-serif";

$background-color: #f0e2ba;
$color-1: #d79922;
$color-2: #c5cbe4;
$color-3: #4057a1;
$color-4: #f23c1f;

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;
