@use "../../styles/variables" as *;

.card {
  text-align: center;
  justify-content: center;
  max-height: 40%;
  min-height: 40%;
  margin: 2%;
  background-color: $color-2;
  border-radius: 20%;

  &__image {
    width: 10vw;
    max-height: 25vw;
    min-height: 25vw;
  }

  &__h2 {
    font-size: 100%;
  }

  &__link {
    text-decoration: underline;
  }
}
